{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}"/>
</head>
<body>
    <div id="header">
        <a href="{% url 'index' %}"><img src="{% static 'main/img/logo.png' %}" id="logo"></a>
    </div> 
    
        <form method="post" class="message-form">
            {%csrf_token%}
            {{ form.feedback }}
            <button type="submit" id="feedback-button">Отправить</button>
        </form>

    <div id="main_faq">
            
        {% for i in voprosi %}
        <div>
            <span>{{ i.question }}</span><br>
            <h3>{{ i.answer }}</h3>
        </div>
        {% endfor %}
        
    </div>

    <div id="footer">
        <a href="https://github.com/DANIRU44" target="_blank" title="Автор"><span id="me">Сделано DANIRU</span></a>
        <a href="https://www.donationalerts.com/r/daniru44" title="Для светлого будущего"><span id="support">Поддержать</span></a>
        <a href="{% url 'faq' %}" title="Ответы на вопросы"><span id="FAQ">FAQ</span></a>
    </div>
</body>
</html>